*{
   padding:0;
   margin:0;
   box-sizing: border-box;
}





img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.container-fluid .row{
  display: flex;
  padding: 10px;
  background-color: rgba(0,0,0,.2);
  border-top: solid 1px grey;

}
}

.row .col-4{
  display: flex;

}

.row .col-4 .col-5{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  justify-content: space-around;
}

.row .col-8 {
  display: flex;
  margin-top: 5px;
}
.row .col-8 p{
  margin-left: 20px;

}
.row .col-4 {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  justify-content: space-around;
}


.row .col-8 h6 {
  display: flex;
  margin-left: 10px;
}

.chat .col-4{
  display: flex;
  flex-direction: column;

}
.chat .row .col-4 .col-3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  background-color: blue;

}
.chat .col-4 .col-3 i{
  width: 20px;
  height: 20px;
  color: white;


}
.chat .col-4 .col-3 p{

}
.chat .col-12{
  background-color: rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;

}

.chat .row .col-1 .col-12{
  display: flex;
  background-color: white;
  flex-direction: row;
}
.chat .col-1 .col-7{
  display: flex;
  justify-content: flex-end;
}
.chat .row .col-8{
  display: flex;
  flex-direction: column;
}
.chat .flex-column .col-11{
  background-image: url("../img/sfondochat.png");
  width: 850px;
  overflow-y: scroll;
}

.chat .flex-column .col-1{
  display: flex;


}
.chat .flex-column .col-1 i{
  margin-top: 40px;
}

.chat .flex-column .col-1 .row .col-12{
  background-color: white;
  width: 745px;
  border-radius: 50px;
}
.chat .flex-column .col-1 .row .col-12 p{
  margin-top: 20px;
}
